@model InventoryERP.Data.Models.Sale

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Change" class="control-label"></label>
                <input asp-for="Change" class="form-control" />
                <span asp-validation-for="Change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 1rem;">
    <a asp-action="Index" class="btn-secondary btn-sm"><i class="fa-solid fa-arrow-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
